USE [RabbitMQ]
GO
/****** Object:  UserDefinedFunction [dbo].[SplitString]    Script Date: 5/28/2020 6:03:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE
FUNCTION [dbo].[SplitString](@String nvarchar(4000), @Delimiter char(1)) 
RETURNS
@Results TABLE (String varchar(255)) 
AS
BEGIN 
DECLARE @INDEX INT 
DECLARE @SLICE nvarchar(4000) 
-- HAVE TO SET TO 1 SO IT DOESNT EQUAL Z 
-- ERO FIRST TIME IN LOOP 
SELECT @INDEX = 1 
WHILE @INDEX !=0 
BEGIN 
-- GET THE INDEX OF THE FIRST OCCURENCE OF THE SPLIT CHARACTER 
SELECT @INDEX = CHARINDEX(@Delimiter,@STRING) 
-- NOW PUSH EVERYTHING TO THE LEFT OF IT INTO THE SLICE VARIABLE 
IF @INDEX !=0 
SELECT @SLICE = LEFT(@STRING,@INDEX - 1) 
ELSE 
SELECT @SLICE = @STRING 
-- PUT THE ITEM INTO THE RESULTS SET if it is a number 
INSERT INTO @Results(String) VALUES(LTRIM(RTRIM(@SLICE))) 
-- CHOP THE ITEM REMOVED OFF THE MAIN STRING 
SELECT @STRING = RIGHT(@STRING,LEN(@STRING) - @INDEX) 
-- BREAK OUT IF WE ARE DONE 
IF LEN(@STRING) = 0 BREAK 
END 
RETURN 
END

